body {
    font-family: Helvetica, sans-serif;
}

header {
    background-image: url("../images/pattern.jpg");
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 15vmin;
    font-weight: bold;
    color: khaki;
    text-align: center;
    word-wrap: break-word;
}

h2 {
    font-size: 6vmin;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}